
{% extends 'base.html' %}
{% block content %}

<div class="container vh-100 d-flex justify-content-center align-items-center">
    <div class="col-12 col-sm-8 col-md-6 col-lg-4">
        <div class="card shadow p-4 text-center">

            <h3 class="mb-4">Dashboard</h3>

            <div class="d-grid gap-3">

                <!-- 👤 TODOS VEEM -->
                <a href="/vendas" class="btn btn-success btn-lg py-3">
                    Vendas
                </a>

                <!-- 👑 SOMENTE ADMINISTRADOR -->
                {% if session.get("perfil") == "administrador" %}

                <a href="/produtos" class="btn btn-primary btn-lg py-3">
                    Produtos
                </a>

                <a href="/relatorios" class="btn btn-info btn-lg py-3 text-white">
                    Relatórios
                </a>

                <a href="/cadastro" class="btn btn-dark btn-lg py-3">
                    Usuários
                </a>

                {% endif %}

            </div>

        </div>
    </div>
</div>

{% endblock %}
