{% extends 'base.html' %}
{% block content %}

<div class="container mt-4">

    <a href="/produtos" class="btn btn-secondary mb-3">
        ← Voltar
    </a>

    <div class="row justify-content-center">
        <div class="col-md-6 col-lg-5">

            <div class="card shadow-sm p-4 bg-white">

                <h3 class="text-center mb-4">Editar Produto</h3>

                <form method="post">

                    <input class="form-control mb-3"
                           name="descricao"
                           value="{{ produto.descricao }}"
                           required>

                    <input class="form-control mb-3"
                           name="valor"
                           value="{{ produto.valor }}"
                           required>

                    <input class="form-control mb-3"
                           name="estoque_inicial"
                           value="{{ produto.estoque_inicial }}"
                           required>

                    <div class="text-center">
                        <button class="btn btn-success px-4">
                            Salvar Alterações
                        </button>
                    </div>

                </form>

            </div>

        </div>
    </div>

</div>

{% endblock %}
