{% extends 'base.html' %}
{% block content %}

<div class="container mt-4">
    <a href="/dashboard" class="btn btn-secondary mb-3">
        ← Voltar
    </a>

<h3>Fechamento de Caixa - {{ data }}</h3>

<hr>
    
<form method="get" class="mb-3">
    <input type="date" name="data" value="{{ data }}">
    <button class="btn btn-primary">Buscar</button>
</form>

<table class="table table-bordered table-striped">
 <table class="table table-bordered">
    <thead>
        <tr>
            <th>Forma de Pagamento</th>
            <th>Total</th>
            <th>Troco</th>
        </tr>
    </thead>
    <tbody>
        {% for r in resultados %}
        <tr>
            <td>{{ r.forma_pagamento }}</td>
            <td>R$ {{ r.total }}</td>
            <td>R$ {{ r.total_troco }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
    
{% endblock %}
