{% extends 'base.html' %}
{% block content %}

<div class="container mt-4">

<a href="/dashboard" class="btn btn-secondary mb-3">
← Voltar
</a>

<h3>Fechamento de Caixa - {{ data }}</h3>

<hr>

<form method="get" class="mb-3">
    <input type="date" name="data" value="{{ data }}">
    <button class="btn btn-primary">Buscar</button>

    <a href="/fechamento_pdf?data={{ data }}" class="btn btn-danger">
        Exportar PDF
    </a>
</form>

<table class="table table-bordered table-striped">

<thead class="table-dark">
<tr>
<th>Forma</th>
<th>Total Vendido</th>
<th>Total Troco</th>
</tr>
</thead>

<tbody>

{% for r in resultado %}

<tr>
<td>{{ r.forma_pagamento }}</td>
<td>R$ {{ "%.2f"|format(r.total or 0) }}</td>
<td>R$ {{ "%.2f"|format(r.total_troco or 0) }}</td>
</tr>

{% endfor %}

<tr class="table-primary fw-bold">
<td class="text-end">TOTAL GERAL</td>
<td>R$ {{ "%.2f"|format(total_geral or 0) }}</td>
<td>R$ {{ "%.2f"|format(total_troco or 0) }}</td>
</tr>

</tbody>
</table>

</div>

{% endblock %}
