
{% extends 'base.html' %}
{% block content %}
<a href="/dashboard" class="btn btn-secondary mb-3">
    ← Voltar
</a>
<h3>Cadastrar Produto</h3>
<form method="post">
<input class="form-control mb-2" name="descricao" placeholder="Descrição do Produto">
<input class="form-control mb-2" name="valor" placeholder="Valor Unitário">
<input class="form-control mb-2" name="estoque_inicial" placeholder="Estoque Inicial">
<button class="btn btn-primary">Salvar</button>
</form>
<hr>
<table class="table table-bordered">
<tr><th>ID</th><th>Descrição do Produto</th><th>Valor Unitário</th><th>Estoque Inicial</th><th>Estoque Atual</th></tr>
{% for p in produtos %}
<tr>
  <td>{{ p.id }}</td>
  <td>{{ p.descricao }}</td>
  <td>R$ {{ "%.2f"|format(p.valor) }}</td>
  <td>{{ p.estoque_inicial }}</td>
  <td>{{ p.estoque_atual }}</td>
</tr>
{% endfor %}
</table>
{% endblock %}
