
{% extends 'base.html' %}
{% block content %}
<a href="/dashboard" class="btn btn-secondary mb-3">
    ← Voltar para a Página Inicial
</a>
<h3>Relatórios</h3>
<a href="/relatorio_pdf" class="btn btn-danger">Exportar PDF</a>
<a href="/relatorio_excel" class="btn btn-success">Exportar Excel</a>
<hr>
<h5>Estoque</h5>
<table class="table">
<tr><th>Produto</th><th>Estoque</th></tr>
{% for p in produtos %}
<tr>
    <td>{{ p.descricao }}</td>
    <td>{{ p.estoque }}</td>
</tr>
{% endfor %}
</table>
{% endblock %}
