
{% extends 'base.html' %}
{% block content %}
<a href="/dashboard" class="btn btn-secondary mb-3">
    ← Voltar
</a>
<h3>Relatórios</h3>
<hr>
<h5>Estoque</h5>
<table class="table">
<tr><th>Produto</th><th>Estoque Atual </th></tr>
{% for p in produtos %}
<tr>
    <td>{{ p.descricao }}</td>
    <td>{{ p.estoque_atual }}</td>
</tr>
<a href="/relatorio_pdf" class="btn btn-danger">Exportar PDF</a>
<a href="/relatorio_excel" class="btn btn-success">Exportar Excel</a>    
{% endfor %}
</table>
{% endblock %}
