
{% extends 'base.html' %}
{% block content %}
<a href="/dashboard" class="btn btn-secondary mb-3">
    ← Voltar para a Página Inicial
</a>
<h3>Nova Venda</h3>

<form method="post">
<select name="produto" class="form-select mb-2" required>
{% for p in produtos %}
<option value="{{p.id}}" data-valor="{{p.valor}}">
{{p.descricao}} - R$ {{p.valor}} (Estoque: {{p.estoque}})
</option>
{% endfor %}
</select>

<input type="number" id="quantidade" name="quantidade" class="form-control mb-2" placeholder="Quantidade" required>

<input type="text" id="total" class="form-control mb-2" placeholder="Total" readonly>

<button class="btn btn-success">Salvar Venda</button>
</form>

<script>
const select = document.querySelector("select");
const quantidade = document.getElementById("quantidade");
const total = document.getElementById("total");

function calcular(){
  const valor = select.options[select.selectedIndex].dataset.valor;
  total.value = (valor * quantidade.value).toFixed(2);
}

select.addEventListener("change", calcular);
quantidade.addEventListener("input", calcular);
</script>

{% endblock %}
